.port{
    width:180px;
    height: 180px;
    border-radius: 50%;
    margin:200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    perspective: 1000px; 
    background-color: white;    transform-origin: 90px;

 
}

.port:hover{
    
    transform: rotateY(180deg);
    
}


.port__front{
    border-radius: 5%;
    width:180px;
    height: 220px;
 
    border: black; 
    border-style: solid;
    border-width: 1px;
    position: absolute;
    transform-style: preserve-3d;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden;
    overflow:hidden;
}

.port__front__img{
    width:100%;
}



.port__back{
    border-radius: 5%;
    width:180px;
    height: 220px;
    background-color: white;

    border: black; 
    border-style: solid;
    border-width: 1px;
    position: absolute;

    transform: rotateY(180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
}
