.tile{
    width: 250px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    perspective: 1000px; 
    
    
}

.tile__front{
    border-radius: 25px;
    width: 250px;
    height: 100%;
    border: black; 
    border-style: solid;
    border-width: 2px;
    position: absolute;
    transform-style: preserve-3d;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden;
    overflow:hidden;
}

.tile__front__img{
    width:100%;
}

.tile:hover{
    
    transform: rotateY(180deg);
    
}


.tile__back{
    border-radius: 25px;
    width: 250px;
    height: 100%;
    border: black; 
    border-style: solid;
    border-width: 2px;
    position: absolute;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden;
    overflow: scroll;
}
