.title{

    height: 300px; 
    width: 100%;
    z-index: 5;
    background: rgba(200, 198, 198, 0.75);

    position: fixed;
    display: flex;
    flex-wrap:wrap;
    align-items: center;

}

.title__letters{
    position: relative;
    font-size: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

