.filmAndTV{
    position: absolute;
    height:100%;
    width:100%;
    background-color: black;
    padding:24px;
    overflow:auto;
    display:flex;
    flex-direction: column;

}



.filmAndTV__title{
    color:white;
}

.filmAndTV__row{
    position: relative;
    height: auto;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.filmAndTV__poster{
    width: 25vh;
    flex: 1 1 auto;


}


.player-wrapper {
    flex: 4 4 auto;
    /*position: relative;*/
    /*padding-top: 56.25%; */
    /* Player ratio: 100 / (1280 / 720) */
  }

  .player-wrapper {
    flex: 4 4 auto;
    /*position: relative;*/
    /*padding-top: 56.25%; */
    /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player1 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .genres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .genre__btn{
    font-weight: bold;
    display:table;
    cursor:pointer;
    color:black;
    background-color: white;
    margin:5px;
    padding:10px; 
    border-radius: 20px;
  }


.cast{
    width: 80%;
    left: 10%;
    height: auto;
    display: flex;
}

.cast__img__container{
    width: 130px; 
}

.cast__img{
    display:block; 
    width: 100%; 
    height:auto; 
}

.cast__names{
    color:white;
    margin: 10px; 
}


