



.carousel__row{
    display:flex; 
    flex-direction: row;
    

}

.carousel__btn__left{
    height: 80px; 
    width: 80px; 
    z-index: 14;
    position: absolute;
    left: 2.5%;

  

}

.carousel__btn__right{
    height: 80px; 
    width: 80px; 
    z-index: 14;
    position: absolute;
    right: 2.5%;
   
    
}