

.carousel{
    position: relative;
    
    overflow:hidden;

}



.carousel__btn__left{
    height: 80px; 
    width: 80px; 
    z-index: 14;
    position: absolute;
    left: 2.5%;
    cursor: pointer;
    background-color: transparent;
    border:none; 
    top: 50%; 

  

}

.carousel__btn__right{
    height: 80px; 
    width: 80px; 
    z-index: 14;
    position: absolute;
    right: 2.5%;
    cursor: pointer;
    background-color: transparent;
    border:none; 
    top:50%; 
   
    
}

.carousel__child{
    position: absolute;
    z-index:1;
}

.carousel__child__info{
    top:0%; 
    height:100%;
    width: 100%;
    position: absolute;
    z-index: 4; 
    background: rgba(0,0,0,0.6); /* correct */
    color:white;
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    padding: 10px; 

 
}

